
/*
Colors
Green = #6EE7B7
Darkblue =#111827
White = #EEEEEE 
*/

body {
    margin: 0;
    
}

.backgrnd {
    background-image: url("images/pacman-bg.jpg");
    background-blend-mode: overlay;
    background-color: #11182770;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 60px;
    height: 385px;
    width: 725px;
    color: white;
    background-color: #111827;
    border: 5px solid #C6F6E3;
    box-shadow: 0px 4px 40px -5px rgba(114, 230, 183, 0.56);
    border-radius: 5px;
    text-align: center;
}

.twoCols {
    display: flex;
    justify-content: space-evenly;
}


h3, h4, #restart-btn, p, #add-point {
    font-family: 'VT323', monospace;
}

h1{
    font-family: 'Press Start 2P', cursive;
    color: #6EE7B7;
    font-size: 48px;
    line-height: 33.6px;
}

h3 {
    font-size: 34px;
    line-height: 33.6px;
}

h4 {
    font-size: 3em;
}



#restart-btn { 
    font-size: 11px;
    padding: 12px 12px;
    background-color: #6EE7B7;
    border: 2px solid #6EE7B7;
    border-radius: 5px;
}
/* standard hover effect
#restart-btn:hover { 
    background-color: #5ec49b;
    cursor: pointer;
} */

#restart-btn:hover { 
    background-color: #111827;
    color: #6EE7B7;
    border: 2px solid #6EE7B7;
    cursor: pointer;

}

#restart-btn:active {
    -webkit-transform: perspective(100px) scale(0.9);
    
}

.score-bg {
    color: #111827;
    background-color: #6EE7B7;
    width: 155px;
    height: 120px;
    border-radius: 5px;
}


p {
    font-weight: 400;
    font-size: 50px;
    line-height: 125px;
    padding-left: 20px;
}

#add-point {
    font-weight: 400;
    font-size: 11px;
    padding: 11px;
    margin: 24px 0; 
    background-color: #111827;
    color: #6EE7B7;
    border: 2px solid #6EE7B7;
    border-radius: 5px;
    cursor: pointer;
}

#add-point:hover { 
    background-color: #6EE7B7;
    color: #111827;
    border: 2px solid #111827;
    border-radius: 5px;
    cursor: pointer;
}

#add-point:active { 
    -webkit-transform: perspective(100px) scale(0.9);
}